<div class="section">
  <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
  <label for="modal-btn"><i class="uil uil-expand-arrows"></i></label> 		
  <div class="modal">		
      <div class="modal-wrap">	
        <img src="tut_1.jpg" alt="">	
        <p>
          1. First add your known text(s)
        </p>	          		
      </div>	
      <div class="modal-wrap">
        <img src="tut_2.jpg" alt="">
        <p>
          2. Next add your unknown text
        </p>
      </div>	
      <div class="modal-wrap">
        <img src="tut_3.jpg" alt="">
        <p>
          3. Click Compare
        </p>
      </div>	   
      <div class="modal-wrap">
        <p>
          4. See your result
        </p>
      </div>       		
  </div>	
</div>
<div class="compare">
  <label class="heading" for="field1">Welcome to AuthoWrite</label>
  <div class="instructions">
    <p> Enter texts here:</p>
    <p> 
      
    </p>
  </div>
  <form class="two-col">

    <div class="col">
      <h1 class="input-header">Known Text</h1>
      <div class="text-input-overview">
        <textarea
          class="text-input"
          id="knownText"
          placeholder="Add known text(s) or upload 

To add more texts this way, click the button in the bottom right corner of this box"
        ></textarea>
        <button (click)="addKnownText()">+</button>
      </div>

      <div class="upload">
        <div class="upload-div">
          <label class="upload-label"for="knownfile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M8.71,7.71,11,5.41V15a1,1,0,0,0,2,0V5.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-4-4a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-4,4A1,1,0,1,0,8.71,7.71ZM21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V13a1,1,0,0,0-2,0v6a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12Z" 
              fill="#212529"></path>
            </svg>
            <p>Upload Known Text(s)</p>
          </label>
          <input
            id="knownfile"
            type="file"
            (change)="onMultipleFileChange($event)"
            accept=".txt, .pdf, .docx"
            multiple
          />
        </div>

        <div *ngFor="let text of knownTexts; let i = index">
          <app-file-card [file]="text" [name]="'known'+i" [index]="i" (delete)="onDeleteKnownText($event)"></app-file-card>
        </div>

        <div *ngFor="let file of knownFiles; let i = index">
          <app-file-card [file]="file" [name]="file.name" [index]="i" (delete)="onDeleteKnownFile($event)"></app-file-card>
        </div>
      </div>
    </div>
    
    <div class="col">
      <h1 class="input-header">Unknown Text</h1>
      <textarea
        class="text-input"
        id="unknownText"
        placeholder="Enter unknown text or upload"
      ></textarea>
      
      <div class="upload">
        <div class="upload-div">
          <label class="upload-label" for="unknownfile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M8.71,7.71,11,5.41V15a1,1,0,0,0,2,0V5.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-4-4a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-4,4A1,1,0,1,0,8.71,7.71ZM21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V13a1,1,0,0,0-2,0v6a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12Z"
              fill="#212529"></path>
            </svg>
            <p>Upload Unknown Text</p>
          </label>
          <input
            id="unknownfile"
            type="file"
            (change)="onSingleFileChange($event)"
            accept=".txt, .pdf, .docx"
          />
        </div>

        <div *ngFor="let file of unknownFile; let i = index">
          <app-file-card [file]="file" [name]="file.name" [index]="i" (delete)="onDeleteUnknownFile($event)"></app-file-card>
        </div>
      </div>
    </div>

  </form>

  <button class="compare-button" (click)="sendPostRequest()">Compare</button>

</div>


<div class="results-div" id="resultsDiv" style="display: none;">

  <div>
    <h1 class="heading">Results</h1>
  </div>

  <div class="results">
    <div class="results-col">
      <h1 class="results-title">Similarity</h1>
      <div class="bar-div">
        <div class="circle-wrap">
          <div class="circle">
            
            <div class="mask full">
              <div class="fill"></div>
            </div>
          
            <div class="mask half">
              <div class="fill"></div>
            </div>
            
            <div class="inside-circle">
              {{result}}%
            </div>
            
          </div>
        </div>
        <h1 class="result-text">{{resultText}}</h1>
      </div>
      
    </div>

    <div class="results-col">
      <h1 class="results-title">Explanation</h1>
      <div class="headers">
        <h2 class="htitle utitle">UNKNOWN TEXT</h2>
        <h2 class="htitle">KNOWN TEXT(S)</h2>
      </div>
      <div>
        <div class="stat-bars">
          <app-stat-bar
            *ngFor="let stat of stats; let i = index"
            [stat_name]="STAT_NAMES[i]"
            [stat_known]="stat[0]"
            [stat_unknown]="stat[1]"
            [stat_prop]="stat[2]"
            [tooltipContent]="STAT_EXPLANATIONS[i]"
          ></app-stat-bar>
        </div>
      </div>
    </div>
  </div>
</div>

