.file-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 100px;
  max-width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

p.name {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-left: 5%;
  text-overflow: ellipsis;
}

.delete {
  cursor: pointer;
  width: fit-content;
  float: inline-end;
  background: none;
  border: none;
}

.delete:hover {
  font-weight: bold;
  color: red;
}