<html>
    <div class="container">
            <ngx-typed-js
            [strings]="['AuthoWrite']"
            [loop]="false"
            [shuffle]="true" [typeSpeed]="80"
            [showCursor]="false"
            >
            <h1 class="typing"></h1>
            </ngx-typed-js>
            <p class ="intro">Authorship similarity made easy </p>
            <!--<a class="learn-more" routerLink="about"> Learn More...</a>-->
        <div class="button-div">
            <a class = "button button-left" routerLink="login">Sign Up / Login</a>
            <a class = "button button-right" routerLink="compare">Continue as Guest</a>
        </div>
    </div> 
</html>
