.heading {
    text-align: center;
    font-size: xx-large;
    align-self: center;
    margin: auto;
    margin-top: 2%;
}

.heading-div {
    display: flex;

}

.page-div {
    display: flex;
    flex-direction: row;

}

.left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}