/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*
{
    padding: 0;
    margin: 0;
}
:root
{
    --primary-color:#163169;
    --secondary-color:white;
    --tertiary-color: #0b2049;
    --shadow-color: #70758346;
}
body
{
    height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
h1
{
    font-family: 'Open Sans', sans-serif;
}

.text
{
    font-family: 'Open Sans', sans-serif;
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Override Bootstrap tooltip styles */
.tooltip {
    opacity: 1 !important;
}
.tooltip-inner {
    background-color: var(--secondary-color); /* Change background color */
    color: black; /* Change text color */
    font-size: 14px; /* Change font size */
    padding: 20px; /* Adjust padding */
    border-radius: 10%; /* Adjust border radius */
    box-shadow: 0 0 5px var(--shadow-color); /* Add a small shadow */
    line-height: 1.5; /* Adjust line height */
}

/*Navbar toggler custom colour*/
.navbar-dark .navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' \
        viewBox='0 0 30 30'%3e%3cpath \
        stroke='rgba%28255, 255, 255%29' \
        stroke-linecap='round' \
        stroke-miterlimit='10' \
        stroke-width='2' \
        d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
    );
}